@tailwind base;
@tailwind components;
@tailwind utilities;
@layer tailwind-base, primereact, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --white: #ffffff;
  --light-gray: #dfdfdf;
  --dark-gray: #2e2e2e;
  --main-color: #4a4994;
  --secondary-color: #dfdfff;
}

.claymorphic-shadow {
  box-shadow: 12px 12px 40px 0px rgba(112, 112, 112, 0.5), inset -4px -4px 8px 0px rgba(112, 112, 112, 0.6), inset 0px 6px 14px 0px rgb(255, 255, 255);
  backdrop-filter: blur(10px);
}

.claymorphic-shadow-hover:hover {
  transform: translateY(-5px);
  box-shadow: 30px 30px 60px 0px rgba(112, 112, 112, 0.5), inset -5px -5px 10px 0px rgba(112, 112, 112, 0.6), inset 0px 7px 18px 0px rgb(255, 255, 255);
  backdrop-filter: blur(10px);
}

.concave-container-shadow {
  box-shadow: inset 3px 3px 5px #8b8b8b, inset 1px 1px 2px 2px #8b8b8b, inset -3px -3px 5px #ffffff;
}
