@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&display=swap');

:root {
  --white: #ffffff;
  --light-gray: #dfdfdf;
  --dark-gray: #2e2e2e;
  --main-color: #4a4994;
  --secondary-color: #dfdfff;
}