@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&display=swap');

:root {
  --white: #ffffff;
  --light-gray: #dfdfdf;
  --dark-gray: #2e2e2e;
  --main-color: #4a4994;
  --secondary-color: #dfdfff;
}

.claymorphic-shadow {
  box-shadow: 35px 35px 68px 0px rgba(112, 112, 112, 0.5), inset -8px -8px 16px 0px rgba(112, 112, 112, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
  backdrop-filter: blur(10px);
}

.claymorphic-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 40px 40px 80px 0px rgba(112, 112, 112, 0.5), inset -8px -8px 16px 0px rgba(112, 112, 112, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
  backdrop-filter: blur(10px);
}

.concave-container-shadow {
  box-shadow: inset 5px 5px 10px #c9c9c9, inset -5px -5px 10px #ffffff;
}
