@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&display=swap');

:root {
  --white: #ffffff;
  --light-gray: #dfdfdf;
  --dark-gray: #2e2e2e;
  --main-color: #4a4994;
  --secondary-color: #dfdfff;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  text-align: center;
}

.original-button {
  font-size: 24px;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: #000000;
  box-shadow: inset 0 4px 8px 0 #000000;
}

.original-button:hover {
  background-color: var(--main-color);
  color: #ffffff;
  cursor: pointer;
  box-shadow: inset 0 8px 16px 0 #ffffff;
  border: 1px solid #ffffff;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p,
td,
th {
  cursor: default;
}

a h1,
a h2,
a h3,
a h4,
a p,
a td,
a th {
  cursor: pointer;
}

.original-h2 {
  font-size: 32px;
  font-weight: 400;
}
.original-h3 {
  font-weight: 400;
}

.original-header {
  margin: auto;
  color: var(--dark-gray);
  background-color: var(--white);
  padding: 20px 15%;
}

.original-nav {
  display: flex;
  justify-content: space-between;
}

.original-table {
  position: relative;
  margin: auto;
  border-spacing: 25px 0;
  color: #000000;
}

.original-td,
.original-th {
  width: 20%;
  padding: 15px;
}
.original-tr:nth-child(even) {
  background-color: var(--secondary-color);
}
.original-tr:nth-child(odd) {
  background-color: #ededfd;
}

/* --- id's --- */
#about-me {
  padding: 20px 15%;
  background-color: var(--main-color);
  color: var(--white);
  margin-top: 58px;
}

#description {
  max-width: 750px;
  margin: auto;
  font-size: 18px;
}

#heading {
  font-size: 44px;
  padding-top: 7%;
}

#logo {
  height: 30px;
}

#menu-bar {
  left: 0;
  width: 100%;
  height: 48px;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--main-color);
}

#projects-section {
  padding: 280px 0 35px 0;
  margin-top: -270px;
  z-index: -999;
  color: #ffffff;
  background-color: var(--main-color);
}

#skills-section {
  padding: 20px;
  position: relative;
}

.skill-item {
  max-width: 160px;
  margin-right: 24px;
  margin-left: 24px;
}

.skill-heading {
  max-width: 160px;
  margin-right: 24px;
  margin-left: 24px;
}

#subheading {
  font-size: 28px;
}

#testimonial-container,
#projects-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 10%;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--main-color);
  color: white;
}

.cta h3 {
  font-size: 32px;
  padding-right: 20px;
}

.hamburger-container {
  z-index: 3;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 26px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: relative;
}

.hamburger-button {
  display: inline-block;
  width: 40px;
  height: 6px;
  background: var(--main-color);
  transition: 0.2s ease-in-out;
  border-radius: 6px;
}

.hamburger-button::before,
.hamburger-button::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 6px;
  background: var(--main-color);
  transition: 0.2s ease-in-out;
  border-radius: 6px;
}

.hamburger-button::before {
  transform: translate(-20px, -10px);
}

.hamburger-button::after {
  transform: translate(-20px, 10px);
}

.menu {
  position: absolute;
  display: none;
  top: 10px;
  right: 0;
  max-width: 300px;
  background: var(--secondary-color);
  border-radius: 1em 0 0 1em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
}

.menu-item {
  border-bottom: 1px solid var(--main-color);
  width: 100%;
}

.menu-item:hover,
.menu-item p:hover {
  background: #f5f5ff;
  cursor: pointer;
}

#contact-me-menu {
  border-radius: 1em 0 0 0;
  border-bottom: none;
}

.menu-open {
  display: flex;
}

.open .hamburger-button {
  background: transparent;
}

.open .hamburger-button::before {
  transform: rotate(-45deg) translate(-10px, -10px);
}

.open .hamburger-button::after {
  transform: rotate(45deg) translate(-10px, 10px);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.project {
  height: 250px;
  width: 340px;
  margin: 10px 10px;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--dark-gray);
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-overlay {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-overlay:hover {
  cursor: pointer;
}

.project:hover {
  background-color: var(--secondary-color);
}

.project:active {
  background-color: var(--secondary-color);
}

.project-name {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  width: fit-content;
  padding: 2px 3px;
}

.project-description {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  width: fit-content;
  padding: 2px 3px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

.testimonial {
  padding: 20px;
  flex: 1 1 30%;
}

.testimonial-content {
  text-align: justify;
}

.testimonial-picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.top-row {
  border-radius: 10px 10px 0 0;
}

.bottom-row {
  border-radius: 0 0 10px 10px;
}

@media only screen and (max-width: 1000px) {
  .original-table {
    border-spacing: 15px 0;
  }
  .project-name {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 850px) {
  .original-table {
    border-spacing: 10px 0;
  }
  #heading {
    font-size: 38px;
  }

  /*.project-description {*/
  /*  display: none;*/
  /*}*/
  #subheading {
    font-size: 28px;
  }
  #testimonial-container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 701px) {
  .original-table {
    border-spacing: 5px 0;
  }
  .original-td,
  .original-th {
    padding: 4px;
  }
  #heading {
    font-size: 28px;
  }

  #subheading {
    font-size: 22px;
  }

  #skills-section {
    padding: 7px;
  }
  .testimonial {
    padding: 0 10%;
    flex-basis: 100%;
    margin: 0 auto;
  }
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-overlay {
  padding: 0 1em;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s;
  transition-timing-function: ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.project-overlay:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.button {
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 7px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#dijkstras-algorithm {
  background-image: url('https://ryanscarbel.com/src/images/graph-data-structure-for-dijkstras-algorithm.png');
}

#employee-scheduling {
  background-image: url('https://ryanscarbel.com/src/images/scheduling-app.png');
}

#space-invaders {
  background-image: url('https://ryanscarbel.com/src/images/space-invaders-heavy.png');
}

#messaging-app {
  background-image: url('https://ryanscarbel.com/src/images/message-board.png');
}

#calorie-counter {
  background-image: url('https://ryanscarbel.com/src/images/calorie-counter.png');
}

#elevator {
  background-image: url('https://ryanscarbel.com/src/images/elevator.png');
}
